body {
    background-color: rgb(10, 34, 54);
    width: auto;
    color: azure;
}

h1{
    text-align: center;
}

a:hover{
    background-color: grey;
    color: ivory;
}

ul{
    list-style: none;
}

li{
    display: inline;
    float: right;
    margin-right: 5%;
}

a{
    font-size: 200%;
}

#showProducts{
    text-align: left;
}

#productImage{
    height: 20%;
    width: 30%;
}