body {
    background-color: aliceblue;
    width: auto;
}

h1{
    text-align: center;
}

a:hover{
    background-color: grey;
    color: ivory;
}

ul{
    display: block;
    list-style: none;
}

li{
    display: inline;
    float: right;
    margin-right: 5%;
}

a{
    font-size: 200%;
}